$backbg: #efefef;
$green: #0BD148;
$blue: #4b8de5;
$deep-blue: #396FB7;
$blue-two: #6CB2FF;
$black: #000;
$red:#f25252;
$white: #fff;
$font-tit: #494949;
$font-gray: #626262;
$black-gray:#535353;
$gray-white: #eaebee;
$white-gray: #f4f4f4;
$white-off: #f7f7f7;
$white-darkGrey:#f0f0f0;
$gray-d8: #d8d8d8;
$bgray-bor:#d8d8d8 1px solid;
$blue-bor:#4b8de5 1px solid;
$gray-e: #eeeeee;
$gray-c: #cccccc;
$spacing: 10px;
